/* General styles for the main page */

:root {
    --lightText: #f7f7f7;
    --lightGreenColor: #99e2b4;
}

* { /* resets */
    margin: 0%;
    padding: 0%;
}

/* static elements styles */

body {
    width: 100%;
    height: 100dvh;
    background-color: #78c6a3;
}

h1 {
    font-family: sans-serif;
    color: var(--lightText);
}

/* styles for components */

.board {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: var(--lightGreenColor);
}

.board .left-side, .board .right-side {
    width: 49%;
    height: 100%;
}

.board .line {
    width: 1%;
    height: 90%;
    background-color: var(--lightText);
    border-radius: 4px;
}