/* General styles for the main page */

:root {
    --darkText: #343a40;
    --lightGreenColor: #99e2b4;
}

* { /* resets */
    margin: 0%;
    padding: 0%;
}

/* static elements styles */

body {
    width: 100%;
    height: 100dvh;
    background-color: #78c6a3;
}

h1, span {
    font-family: sans-serif;
    color: var(--darkText);
}

input[type="text"], input[type="number"] {
    box-sizing: border-box;
    padding: 4px 8px;
    border: none;
    outline: none;
}

/* Disable controllers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* styles for components */

.board {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: var(--lightGreenColor);
}

.board .left-side, .board .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
}

.board .left-side .sum-total, .board .right-side .sum-total {
    margin-top: 1vh;
    width: 70%;
    text-align: right;
    font-family: sans-serif;
    font-size: calc(1vw + 2vh);
    font-weight: bolder;
    color: var(--darkText);
}

.board .line {
    width: 2px;
    height: 90%;
    background-color: var(--darkText);
    border-radius: 4px;
}

.team-name {
    width: 70%;
    font-size: calc(2vw + 1vh);
    background-color: transparent;
}

.history {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 90%;
    height: 70%;
    border-bottom: 2px solid var(--darkText);
}

.history span {
    margin-right: 12px;
    font-size: calc(1vh + 1vh);
}

.tools {
    display: flex;
    justify-content: space-evenly;
    margin: 1vh auto;
    width: 95%;
}

.tools #box {
    width: 75%;
    border-radius: 4px;
    font-size: calc(1vw + 3vh);
    background-color: whitesmoke;
}

.tools button {
    width: 20%;
    border: 1px solid rgba(147, 210, 182, 0.7);
    background-color: rgba(68, 162, 119, 0.1);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: calc(1vw + 1.5vh);
}